/*
CORES:
Cinza fundo: #303340
Cinza fraco: #62667f
Roxo: #a476b8
Verde: #9de99a
Branco(gelo): #d0d4e9
Vermelho: #e17a72
Amarelo: #ecdb90
Azul: #889aff
Laranja: #de9c56
Verde água: #55a2a3
*/

#login {text-align: center; color: #d0d4e9; background-color: #303340;}
div#menu {padding: 0%;}
#inputAmarelo {color: #ecdb90; background-color: #303340;}
#inputVerde {color: #9de99a; background-color: #303340;}
#inputAzul {color: #889aff; background-color: #303340;}